.categoriesContainer {
  position: absolute;
  min-height: 100vh;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  transition: all 0.3s;
  background: #e4e9f7;
}
.categoriesContainer.extended {
  left: 88px;
  width: calc(100% - 88px);
}

.headerProducts {
  background-color: #fff;
  height: 70px;
}

.flexContent div h4 {
  margin: 0;
}

.buttonSide {
  display: flex;
  align-items: center;
  background: rgb(249, 243, 255);
  border: none;
  outline: none;
  display: none;
  border-radius: 50%;
  padding: 10px;
}

.iconBar {
  color: #707070;
}

.flexContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 15px;
}

.flexContent div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.flexContent div span {
  font-weight: 600;
}

.flexContent div img {
  width: 40px;
}

.dataQuantity {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

.spinner {
  margin-right: 5px;
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.productsBox {
  padding: 10px 15px 10px 15px;
}

.addBtn {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 10px;
  border-radius: 5px;
  background: #009879;
  color: #fff;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9rem;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}

thead tr {
  background-color: #009879;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

tr th {
  padding: 12px 15px;
}

@media (max-width: 1000px) {
  .categoriesContainer.extended,
  .categoriesContainer {
    width: 100%;
    left: 0;
  }
  .buttonSide {
    display: inline-block;
  }
}
