.dashboardContainer {
  position: absolute;
  min-height: 100vh;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  transition: all 0.3s;
  background: #e4e9f7;
}
.dashboardContainer.extended {
  left: 88px;
  width: calc(100% - 88px);
}

@media (max-width: 1000px) {
  .dashboardContainer.extended,
  .dashboardContainer {
    width: 100%;
    left: 0;
  }
}
