:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #009879;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-02: 0.2s ease;
  --tran-03: 0.3s ease;
  --tran-04: 0.3s ease;
  --tran-05: 0.3s ease;
}

.sidebarContainer {
  min-height: 100vh;
  transition: var(--tran-05);
}

.sidebarContainer.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 2;
}

.sidebar.close {
  width: 88px;
}

.sidebar header {
  position: relative;
}

.image {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .image_text img {
  width: 40px;
  border-radius: 5px;
}
.image_text {
  display: flex;
  align-items: center;
}

.sidebar .icon,
.sidebar .text {
  color: var(--text-color);
  transition: opacity var(--tran-03);
}

.text {
  font-weight: 500;
  color: var(--text-color);
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

.text .name {
  font-weight: 600;
}

.text .profession {
  margin-top: -2px;
  display: block;
  font-size: 12px;
}

.logo_text {
  display: flex;
  flex-direction: column;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  background: var(--primary-color);
  border-radius: 50%;
  color: var(--sidebar-color);
  cursor: pointer;
  opacity: 1;
  transition: transform var(--tran-05);
}

.sidebar.close header .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebarContainer.dark .sidebar header .toggle {
  color: var(--text-color);
}

ul {
  padding: 0;
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  min-width: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .search_box {
  background: var(--primary-color-light);
  border-radius: 6px;
}
.search_box input {
  height: 100%;
  width: 100%;
  background: var(--primary-color-light);
  outline: none;
  border: none;
  border-radius: 6px;
}

.sidebar li .link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 6px;
  transition: background var(--tran-04);
}

.sidebar li .link:hover {
  background: var(--primary-color);
}

.sidebar li .link:hover .icon,
.sidebar li .link:hover .text {
  color: var(--sidebar-color);
}

.sidebarContainer.dark li .link:hover .icon,
.sidebarContainer.dark li .link:hover .text {
  color: var(--text-color);
}

.sidebar .menu_bar {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom_content li button {
  border: 0;
  outline: none;
  background: none;
}

.sidebar .menu_bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu_bar .mode .sun_moon {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}

.sidebar .menu_bar .icon.sun {
  opacity: 0;
}

.sidebarContainer.dark .menu_bar .icon.sun {
  opacity: 1;
}
.sidebarContainer.dark .menu_bar .icon.moon {
  opacity: 0;
}

.mode .sun_moon .icon {
  position: absolute;
}

.menu_bar .mode .toggle_switch {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  cursor: pointer;
}

.toggle_switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

.sidebarContainer.dark .switch::before {
  left: 20px;
}

@media (max-width: 1000px) {
  .sidebar {
    position: absolute;
    left: -265px;
  }
  .sidebar.extended {
    left: 0;
  }
  /* .sidebar header .toggle {
    opacity: 0;
  } */
}
